.section.team {
    background-color: $secondary-bg-color;

  }
  .team a {
    text-decoration: none;
    color: inherit;
  }
  .team .title {
    color: $title-text-color;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .team .wrapper {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;

        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.19;
        
            text-align: center;
        
            margin-top: 0;
            margin-bottom: 16px;
        }
  }
  
  .team .foto-icons {
    /* width: 270px; */
    width: calc((100% - 30px * 3) / 4);
  
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

            &:not(:last-child) {
                margin-right: 30px;
              }
  }
  